<template>
  <div class="page-container home">
    home page {{ count }}
    <button @click="add">add</button>
    <div class="content">some other content.</div>
  </div>
</template>

<script>
  export default {
    name: "Home",
    data() {
      return {
        count: 0
      }
    },
    methods: {
      add() {
        this.count += 1
      }
    }
  }
</script>

<style scoped src="./index.scss"></style>